<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/stylesheet.css"/>
        <link rel="stylesheet" href="/assets/css/header.css"/>
        <script defer src="/src/js/master_load.js"></script>
    </head>
    <body>
        <header>
            <div>
                <div class="logo">
                    <a href="/"><img src="/assets/images/logo.png" alt="Logo"></a>
                </div>
                <h1>Kamachi, Angelo Justine D.</h1>
                <nav class="navigation">
                    <ul>
                        <li class="fade_in"><div><a href="/*">Home</a></div></li>
                        <li class="fade_in"><div><a href="/skills">Skills</a></div></li>
                        <li class="fade_in"><div><a href="/projects">Projects</a></div></li>
                        <li class="fade_in"><div><a href="/contact">Contact</a></div></li>
                    </ul>
                </nav>
            </div>
            <div class="divider"></div>
        </header>
    </body>
</html>